div.title{
    width: 970px;
    height:40px;
    background-color: aquamarine;
    font-size: 30px;
    margin-bottom:20px;
    padding-left: 30px;
}

div.main{
    font-size: 0;
    width: 1000px;
    height: 320px;
    background-color:darkturquoise;
    text-align: center;
}

div.left{
    vertical-align: top;
    display: inline-block;
    width: 250px;
    height: 320px;
    background-color: darkgray;
}
div.menu1{
    width: 250px;
    height: 70px;
    font-size: 30px;
    background-color: red;
    padding-top: 30px;
    margin-bottom: 10px;
    
}
div.menu2{
    width: 250px;
    height: 70px;
    font-size: 30px;
    background-color: red;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 30px;
}
div.menu3{
    width: 250px;
    height: 70px;
    font-size: 30px;
    background-color: red;
    margin-top: 10px;
    padding-top: 30px;
}
div.right{
    vertical-align: top;
    display: inline-block;
    margin-left: 50px;
    width: 700px;
    height: 320px;
    background-color: darkgray;
}
div.image{
    width: 700px;
    height: 150px;
    font-size: 30px;
    background-color:cornflowerblue;
    padding-top: 150px;
}
div.text{
    width: 700px;
    height: 20px;
    font-size: 15px;
    
    background-color: deeppink;
}
div.footer{
    width: 970px;
    height: 35px;
    background-color: cadetblue;
    text-align:right;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 30px;
    padding-top: 5px;
}
